.place {
  margin-bottom: 50px;
  padding: 0;
  grid-template-columns: minmax(320px, 460px);
  grid-template-rows: minmax(min-content, max-content);
  display: grid;
  row-gap: 32px;
  column-gap: 0;
}

@media screen and (min-width: 768px) {
  .place {
  margin-bottom: 73px;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  row-gap: 48px;
  column-gap: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
  margin-bottom: 80px;
  column-gap: 32px;
  max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
  column-gap: 40px;
  max-width: 984px;
  }
}